body{background-color:#DACCFA;}
header{
 text-align:center;
 color:purple;
 border: 4px solid gray;
 background-color: lightgray;
}
nav{
 text-align:center;
 margin: 20px;
 padding: 20px;
 
}
main{
 width:100%;
 background-color:#8E59C6;
 margin-top:20px;
 text-indent: 40px; /*Aplicar sangría a la primera línea de texto */
 text-align: justify; /* justificar el texto, pero necesita la propiedad de la siguiente línea y su valor */
 text-justify: inter-word;/*especifica el método de justificación del texto cuando text-align se establece en text-justify*/
 margin-right:10px;
 
}
	
	aside{
                background: purple;
                margin:0px;
		padding:20px;
                width: 280px;
                height: 3690px;
                float: right;
                box-sizing:border-box; 
		font-color:white;
		border: 3px solid lime;}

/* El valor border-box en box-sizing hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente pasando a formar parte del width declarado sin modificarlo.*/
		
	#pagina{
                
                min-width: 940px;
                max-width: 1200px;
                padding: 10px 10px;  /*los valores padding superior y al derecho, se declaran en sentido agujas reloj */
                margin-bottom: 10px;
                margin-left: auto;
                margin-right: auto; /*auto - el navegador calcula el margen*/
                overflow: hidden;
         }
/*La propiedad CSS overflow define qué se debe mostrar cuando el contenido se desborda de los extremos superior e inferior de un elemento en bloque. especifica: si recortar contenido, dibujar barras de desplazamiento o mostrar el contenido excedente en un elemento a nivel de bloque.*/

 	#articles {
                float:left;
                width:900px;
	}

p{
 font-weight:bold; 
}
li{
 list-style-type:none;
}
div{
 margin:15px;
}
footer{
 padding:20px;
 border: 2px solid purple;
 background-color:lightgray;
}
.centrar{		  /*centrar imagen horizontalmente*/
	 margin:auto;
	 display:block;
        }

/*display : block
El elemento es mostrado como un elemento block, o sea como los párrafos o encabezados siempre fueron mostrados. Un elemento block siempre tiene algo de espacio por encima y debajo, que lo separa de los demás elementos, y no acepta ningún otro elemento a su lado - si no está indicado de otra manera (float).*/

.img-centro-vertical{    /*centrar imagen verticalmente*/
  display: table-cell;
  height: 700px;
  vertical-align: middle;
}
#logo-contenedor {    /*centrar imagen con flexbox*/
   display: flex;
   align-items: center;
   justify-content: center;
}
#logo-contizq {    /* imagen a la izquierda con flexbox*/
   display: flex;
   align-items: left;
   justify-content: left;
}

/*#logo-container>img { 
   max-width: 50%;
   border: 2px solid red;
}*/
.imgflota{
	float:right;
	margin-left:20px;
	margin-right:10px;
	
	
}
.imgflotaizq{
	float:left;
	margin-right:20px;
	margin-left:0;
	padding:0;
}
figcaption{
	text-align:center;
	}
.contenedortxt1 { /*centrar texto respecto a la ventana del navegador*/
width: 300px;
margin: 0 auto;
}
.contenedortxt2 { /*centrar texto respecto a la ventana del navegador pero con flexibilidad, por el porcentaje*/
width: 70%;
margin: 0 auto;
}
.centrartxtv{
width: 300px;
height: 250px;
margin: auto;
}
.cuadrado {		/*dibujar formas geométricas*/
     width: 100px; 
     height: 100px; 
     background: orange;
}
.cuadrado-2 {
     width: 100px; 
     height: 100px; 
     border: 3px solid #555;
}
.cuadrado-3 {
     width: 100px; 
     height: 100px; 
     border: 3px solid #555;
     background: #428bca;
}
.rectangulo {
     width: 250px; 
     height: 100px; 
     border: 3px solid #555;
     background: #428bca;
}
.rombo {
     width: 100px; 
     height: 100px; 
     border: 3px solid #555; 
     background: #428bca;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
}
.rombo-2 {
     width: 100px; 
     height: 100px; 
     border: 3px solid #555; 
     background: #428bca;
     -webkit-transform: rotate(45deg) skew(15deg, 15deg);
     -moz-transform: rotate(45deg) skew(15deg, 15deg);
     -ms-transform: rotate(45deg) skew(15deg, 15deg);
     -o-transform: rotate(45deg) skew(15deg, 15deg);
     transform: rotate(45deg) skew(15deg, 15deg);
}
.paralelogramo {
     width: 150px; 
     height: 100px; 
     border: 3px solid #555; 
     background: #428bca;
     -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
     -ms-transform: skew(20deg);
     -o-transform: skew(20deg);
     transform: skew(20deg);
}
.trapecio {
    width: 250px;
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 100px solid #428bca;
}
.trapecio-top {
    width: 250px;
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-top: 100px solid #428bca;
}
.triangulo {
     width: 0; 
     height: 0; 
     border-left: 100px solid #f0ad4e;
     border-top: 50px solid transparent;
     border-bottom: 50px solid transparent; 
}
.triangulo-2 {
     width: 0; 
     height: 0; 
     border-left: 100px solid #f0ad4e;
     border-top: 50px solid transparent;
     border-bottom: 50px solid transparent; 
}
.triangulo-tricolor {
     width: 0; 
     height: 0; 
     border-left: 100px solid #428bca;
     border-top: 50px solid #f0ad4e;
     border-bottom: 50px solid #d9534f; 
}
.triangulo-equilatero-bottom-left {
     width: 0;
     height: 0;
     border-right: 50px solid transparent;
     border-top: 50px solid transparent;
     border-left: 50px solid #f0ad4e;
     border-bottom: 50px solid #f0ad4e;
}
.triangulo-equilatero-bottom {
     width: 0;
     height: 0;
     border-right: 100px solid transparent;
     border-top: 100px solid transparent;
     border-left: 100px solid transparent;
     border-bottom: 100px solid #f0ad4e;
}
.circulo {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
}
.oval {
     width: 250px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
}
.oval-half-red {
     width: 250px;
     height: 100px;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
     background: #5cb85c;
     border: 3px solid #555;
}
.huevo {
    width: 126px;
    height: 180px;
    background-color: #5cb85c;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.cuarto-circulo {
     width: 100px; 
     height: 100px; 
     border: 2px solid #555; 
     background: #5cb85c;
     -moz-border-radius: 0 100% 0 0;
     -webkit-border-radius: 0 100% 0 0;
     border-radius: 0 100% 0 0;
}
.semi-circulo {
     width: 100px; 
     height: 50px; 
     border: 2px solid #555; 
     background: #5cb85c;
     -moz-border-radius: 100px 100px 0 0;
     -webkit-border-radius: 100px 100px 0 0;
     border-radius: 100px 100px 0 0;
}
.semi-circulo-2 {
     width: 50px; 
     height: 100px; 
     border: 2px solid #555; 
     background: #5cb85c;
     -moz-border-radius: 0 100px 100px 0;
     -webkit-border-radius: 0 100px 100px 0;
     border-radius: 0 100px 100px 0;
}
.pac-man { width:0; 
	height:0; 
	border-right: 50px solid transparent; 
	border-top: 50px solid #5cb85c; 
	border-left: 50px solid #5cb85c; 
	border-bottom: 50px solid #5cb85c; 
	-moz-border-radius: 100%; 
	-webkit-border-radius: 100%; 
	border-radius: 100%; 
}
.color-chart {
     width:0;
     height:0;
     border-right: 50px solid #d9534f;
     border-top: 50px solid #428bca;
     border-left: 50px solid #f0ad4e;
     border-bottom: 50px solid #5cb85c;
     -moz-border-radius: 100%;
     -webkit-border-radius: 100%;
     border-radius: 100%;
}
.cono {
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    border-top: 100px solid #5cb85c;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.ribbon {
    width: 0px;
    height: 120px;
    border-left: 50px solid #d9534f;
    border-right: 50px solid #d9534f;
    border-bottom: 35px solid transparent;
}
.luna {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 30px 10px 0 #d9534f;
    -webkit-box-shadow: 30px 10px 0 #d9534f;
    box-shadow: 30px 10px 0 #d9534f;
}