body{
   padding-left: 20px;
   padding-right: 20px;
}
h1{
    background-color: red;
    color: white;
    font-family: impact;
    font-size: 50px;
    text-align: center;
    letter-spacing: 4px;
    
}
div{
    
    height: auto;
    
    word-wrap: break-word;
    background-color: rgba(201, 201, 201, 0.692);
    padding: 20px;
}
a:link,a:visited{

    background-color: red;
    font-family: monospace;
    font-weight: bold;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    display: inline-block;

}
a:hover,a:active{
    background-color: white;
    color: red;
    border: 2px solid red;

}

